table#full-channel-list tr.channel-list-item {
  cursor: pointer; }
table#full-channel-list tr.channel-list-item:last-of-type td {
  border-bottom: 2px solid #dddddd; }
table#full-channel-list tr.selected td {
  font-weight: bold; }
table#full-channel-list tr.channel-list-item:hover {
  background: #eeeeff; }

#panel-full-channel-list div.list-header {
  padding: 10px 10px;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  display: block;
  box-sizing: border-box; }
  #panel-full-channel-list div.list-header div {
    float: left; }
    #panel-full-channel-list div.list-header div span {
      cursor: pointer; }
    #panel-full-channel-list div.list-header div span.sortedby {
      color: #428bca; }
      #panel-full-channel-list div.list-header div span.sortedby i:before {
        content: "\f0da"; }
      #panel-full-channel-list div.list-header div span.sortedby i {
        padding-right: 2px; }
  #panel-full-channel-list div.list-header div.subscribed {
    width: 5%; }
  #panel-full-channel-list div.list-header div.name {
    text-transform: capitalize;
    font-weight: bold;
    width: 85%; }
  #panel-full-channel-list div.list-header div.occupants {
    text-transform: capitalize;
    font-weight: bold;
    width: 10%;
    text-align: right; }
#panel-full-channel-list ul {
  clear: both;
  width: 100%;
  list-style: none;
  padding: 0; }
  #panel-full-channel-list ul li {
    padding: 10px 10px;
    width: 100%;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: block; }
    #panel-full-channel-list ul li div {
      float: left; }
    #panel-full-channel-list ul li div.name {
      width: 85%; }
    #panel-full-channel-list ul li div.subscribed {
      width: 5%; }
    #panel-full-channel-list ul li div.occupants {
      width: 10%;
      text-align: right; }
  #panel-full-channel-list ul li:hover {
    background-color: #f6f6f6; }
  #panel-full-channel-list ul li.subscribed {
    background: #f6f9f6; }
    #panel-full-channel-list ul li.subscribed div {
      font-weight: bold; }
  #panel-full-channel-list ul li.cleartext {
    color: rgba(255, 255, 255, 0); }
