table#full-channel-list
  tr.channel-list-item
    cursor: pointer
  tr.channel-list-item:last-of-type
    td
      border-bottom: 2px solid #ddd
  tr.selected
    td
      font-weight: bold
  tr.channel-list-item:hover
    background: #eef



#panel-full-channel-list
  div.list-header
    padding: 10px 10px
    width: 100%
    border-bottom: 1px solid #eee
    display: block
    box-sizing: border-box
    div
      float: left
      span
        cursor: pointer
      span.sortedby
        color: #428BCA
        i:before
          content: "\f0da"
        i
          padding-right: 2px
    div.subscribed
      width: 5%
    div.name
      text-transform: capitalize
      font-weight: bold
      width: 85%
    div.occupants
      text-transform: capitalize
      font-weight: bold
      width: 10%
      text-align: right
  ul
    clear: both
    width: 100%
    list-style: none
    padding: 0
    li
      padding: 10px 10px
      width: 100%
      border-top: 1px solid
      border-color: rgba(255, 255, 255, 0.2)
      cursor: pointer
      display: block
      div
        float: left
      div.name
        width: 85%
      div.subscribed
        width: 5%
      div.occupants
        width: 10%
        text-align: right
    li:hover
      background-color: #f6f6f6
    li.subscribed
      background: #f6f9f6
      div
        font-weight: bold
    li.cleartext
      color: rgba(255,255,255,0.0)




