html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: #222222; }

input::-webkit-input-placeholder {
  color: #c8c8c8 !important; }

input::-moz-placeholder {
  color: #c8c8c8 !important; }

input:-moz-placeholder {
  color: #c8c8c8 !important; }

input:-ms-input-placeholder {
  color: #c8c8c8 !important; }

input:focus::-webkit-input-placeholder {
  color: transparent !important; }

.navbar-header {
  width: 100%; }

#nav-primary.contract {
  margin-left: -250px; }
  @media only screen and (max-width: 480px) {
    #nav-primary.contract {
      margin-left: 0px; } }

#nav-primary {
  -moz-user-select: none;
  overflow: visible;
  position: relative;
  z-index: 1030;
  float: left;
  height: 100%;
  width: 250px;
  padding: 0px;
  background: none repeat scroll 0% 0% #171d1f;
  -webkit-transition: margin-left 0.5s, -webkit-transform 0.5s;
  transition: margin-left 0.5s, transform 0.5s;
  transition-timing-function: ease; }
  @media only screen and (max-width: 480px) {
    #nav-primary {
      margin-left: -250px; } }
  #nav-primary header.nav-header {
    box-sizing: content-box;
    height: 50px;
    margin: 0px;
    padding: 0px;
    width: 250px;
    background-color: #111111; }
  #nav-primary div.nav-content {
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    overflow-x: hidden;
    overflow-y: scroll; }

#flow-header.expand {
  left: 0px; }
  @media only screen and (max-width: 480px) {
    #flow-header.expand {
      left: 250px; } }

#flow-header {
  box-sizing: content-box;
  position: absolute;
  top: 0px;
  left: 250px;
  right: 0px;
  z-index: 1033;
  height: 50px;
  min-width: 250px;
  background-color: #f9f9f9;
  border-bottom: none;
  list-style: none outside none;
  white-space: nowrap;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  transition-timing-function: ease;
  -webkit-box-shadow: -3px 0px 12px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -3px 0px 12px 2px rgba(0, 0, 0, 0.25);
  box-shadow: -3px 0px 12px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 8px 2px transparent;
  -moz-box-shadow: 0px 0px 8px 2px transparent;
  box-shadow: 0px 0px 8px 2px transparent; }
  @media only screen and (max-width: 480px) {
    #flow-header {
      left: 0; } }
  #flow-header nav {
    height: 50px; }
  #flow-header .navbar-pubnub {
    background-color: #9f0d1d;
    border-radius: 0px; }
    #flow-header .navbar-pubnub a.title {
      color: white;
      float: left;
      padding: 16px 13px;
      font-size: 17px;
      line-height: 18px;
      height: 50px; }
      @media only screen and (max-width: 480px) {
        #flow-header .navbar-pubnub a.title {
          font-size: 12px; } }
  #flow-header .nav-menu-toggle {
    background-color: none;
    border-color: none; }
    #flow-header .nav-menu-toggle span {
      background-color: #aaaaaa; }
      @media only screen and (max-width: 480px) {
        #flow-header .nav-menu-toggle span {
          font-size: 12px; } }

#content-flow {
  height: 100%;
  position: relative;
  background-color: white;
  overflow: hidden;
  z-index: 1031;
  -webkit-box-shadow: -3px 0px 12px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -3px 0px 12px 2px rgba(0, 0, 0, 0.25);
  box-shadow: -3px 0px 12px 2px rgba(0, 0, 0, 0.25); }
  #content-flow .panel-toolbar {
    padding: 0.731rem;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: 50px;
    height: 30px;
    margin: 0px;
    background: none repeat scroll 0% 0% #eeeeee;
    border-bottom: 1px solid silver; }
    #content-flow .panel-toolbar .panel-toolbar-title {
      float: left;
      font-weight: bold; }
    #content-flow .panel-toolbar #panel-presence-occupants {
      float: right; }
      #content-flow .panel-toolbar #panel-presence-occupants .bubble {
        padding: 1px 2px 1px 2px;
        background-color: #aaaaaa;
        color: white;
        font-weight: bold;
        font-size: 10px;
        border-radius: 20px;
        width: 30px;
        text-align: center;
        float: right;
        margin-top: 0.5px; }
  #content-flow #data-panel, #content-flow #presence-panel {
    position: relative;
    height: 100%;
    display: block; }
  #content-flow #data-panel {
    width: 61.8%;
    float: left;
    z-index: 1032;
    white-space: nowrap;
    min-width: 250px; }
    @media only screen and (max-width: 768px) {
      #content-flow #data-panel {
        width: 100%; } }
    #content-flow #data-panel .form-message-data-search {
      padding: 0.731rem;
      width: 100%;
      position: absolute;
      z-index: 1033;
      bottom: 0px;
      margin: 0px;
      background: none repeat scroll 0% 0% #666666;
      height: 48px; }
    #content-flow #data-panel .input-group {
      width: 100%;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      display: flex;
      flex-direction: row;
      float: left; }
      #content-flow #data-panel .input-group input {
        display: inline-block;
        flex-grow: 3;
        border-radius: 4px; }
      #content-flow #data-panel .input-group .btn {
        border-radius: 4px;
        width: 140px; }
    #content-flow #data-panel .bg-paused {
      background-color: #ebbd5c; }
    #content-flow #data-panel .panel-infobar {
      width: 100%;
      position: absolute;
      z-index: 1034;
      height: 45px;
      bottom: 48px;
      margin: 0px;
      border-top: double #cccccc;
      text-align: center; }
      #content-flow #data-panel .panel-infobar div {
        display: inline-block;
        font-size: 11px;
        color: #555555;
        margin: 0px 10px;
        line-height: 43px; }
      #content-flow #data-panel .panel-infobar button {
        padding: 1px 15px;
        margin-top: -2px; }
  #content-flow #btn-unseen {
    margin-left: 4px; }
  #content-flow #btn-publish {
    margin-left: 4px; }
  #content-flow #presence-panel {
    width: 38.2%;
    border-left: 1px solid silver;
    float: right; }
    @media only screen and (max-width: 768px) {
      #content-flow #presence-panel {
        display: none;
        width: 100%; } }
  #content-flow #panel-stream-message-data, #content-flow #stream-presence-data, #content-flow #panel-full-channel-list {
    height: 100%;
    position: relative;
    box-sizing: border-box; }
  #content-flow #panel-full-channel-list {
    display: none; }
  #content-flow #panel-console-settings {
    display: none; }
  #content-flow #panel-history-explorer {
    display: none; }
  #content-flow .data-list {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: opacity 50ms linear 0s;
    top: 80px; }
  #content-flow .data-list-table {
    height: 100%; }

#panel-stream-message-data .data-list {
  bottom: 93px; }
